@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap");
main {
  & .preview {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(244, 240, 248, 1);
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .leftSide {
      max-width: 624px;
      & .title {
        font: 500 16px "Inter";
        color: rgba(35, 37, 54, 1);
        text-transform: uppercase;
      }
      & .mainText {
        font: 700 36px "Sen";
        color: rgba(35, 37, 54, 1);
        margin: 20px 0 16px;
      }
      & .nameDate {
        font: 500 14px "Inter";
        color: rgba(76, 76, 76, 1);
        & span {
          color: rgba(89, 46, 169, 1);
        }
      }
      & .additionalText {
        font: 400 16px "Inter";
        color: rgba(109, 110, 118, 1);
        margin: 16px 0 32px;
      }
      & button {
        color: rgba(35, 37, 54, 1);
        font: 700 18px "Sen";
        border: none;
        background-color: rgba(255, 208, 80, 1);
        padding: 16px 48px;
      }
    }
    & .rightSide {
      max-width: 515px;
      & img {
        width: 100%;
      }
    }
  }
  & .postsList {
    max-width: 1440px;
    margin: 64px auto 0;
    & .title {
      font: 700 48px "Sen";
      color: rgba(35, 37, 54, 1);
      border-bottom: 1px solid rgba(109, 110, 118, 1);
      padding-bottom: 32px;
    }
    & .wrapper {
      display: flex;
      flex-direction: column;
      gap: 64px;
      align-items: center;
      margin-top: 64px;
    }
    & .buttons {
      display: flex;
      gap: 17px;
      justify-content: center;
      align-items: center;
      & button {
        font: 700 24px "Sen";
        color: rgba(109, 110, 118, 1);
        border: none;
        background-color: transparent;
        margin-top: 69px;
      }
      & button:hover {
        color: rgba(35, 37, 54, 1);
        transform: scale(1.2);
        transition: transform ease 0.5s;
      }
    }
  }
  & .category {
    max-width: 1440px;
    margin: 64px auto;
    & .title {
      font: 700 36px "Sen";
      color: rgba(35, 37, 54, 1);
      margin: 48px;
    }
    & .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
      }
  }
  & .joinUsWrapper{
    margin-bottom: 64px;
  }
}
