@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap");
.bigWrapper{
    & main{
        margin: 0 auto;
        & .preview{
            max-width: 768px;
            margin: 128px auto 64px;
            & .topPart{
                display: flex;
                gap: 16px;
                & img{
                    width: 48px;
                    height: 48px;
                }
                & .right{
                    & .name{
                        font: 700 28px 'Sen';
                        color: rgba(89, 46, 169, 1);
                        margin-bottom: 5px;
                    }
                    & .postDate{
                        font: 400 16px 'Inter';
                        color: rgba(109, 110, 118, 1);
                    }
                }
            }
            & .title{
                font: 700 48px 'Sen';
                color: rgba(35, 37, 54, 1);
                margin: 24px 0 34px;
            }
            & .bottomPart{
                display: flex;
                gap: 8px;
                & img{
                    height: 24px;
                    width: 24px;
                }
                & p{
                    font: 700 24px 'Sen';
                    color: rgba(35, 37, 54, 1);
                }
            }
        }
        & .imgWrapper{
            max-width: 1280px;
            margin: 0 auto;
            & img{
                width: 100%;
            }
        }
        & .mainInfo{
            max-width: 843px;
            margin: 64px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            & h2{
                font: 700 36px 'Sen';
                color: rgba(35, 37, 54, 1);
            }
            & .text{
                font: 400 16px 'Inter';
                color: rgba(109, 110, 118, 1);
                margin: 30px 0;
                line-height: 1.6;
            }
            & .list{
                font: 700 24px 'Sen';
                color: rgba(22, 23, 34, 1);
            }
        }
    }
}