.mainWrapper {
  & main {
    margin: 0 auto;
    & .contactWrapper {
      max-width: 768px;
      margin: 128px auto 64px;
      & .title {
        font: 900 16px "Inter";
        color: rgba(35, 37, 54, 1);
        text-transform: uppercase;
        text-align: center;
      }
      & h1 {
        font: 700 48px "Sen";
        color: rgba(35, 37, 54, 1);
        margin: 12px 0 24px;
        text-align: center;
      }
      & .description {
        font: 400 16px "Inter";
        color: rgba(109, 110, 118, 1);
        margin-bottom: 48px;
        text-align: center;
      }
      & .workingHours {
        background-color: rgba(89, 46, 169, 1);
        display: flex;
        padding: 48px 64px;
        justify-content: space-between;
        & .leftSide,
        .rightSide {
          width: 294px;
          color: rgba(255, 255, 255, 1);
          & .title {
            font: 400 14px "Inter";
            border-bottom: 1px solid rgba(255, 255, 255, 1);
            padding-bottom: 16px;
            color: rgba(255, 255, 255, 1);
            text-align: left;
          }
          & .mainInfo {
            margin-top: 16px;
            font: 700 20px "Sen";
          }
          & .additional {
            font: 200 16px "Inter";
            margin-top: 20px;
          }
        }
      }
      & .formWrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 32px;
        & input,
        textarea,
        select {
          box-sizing: border-box; 
          border: 1px solid rgba(109, 110, 118, 0.5);
          border-radius: 2px;
          padding: 24px; 
          font: 400 16px "Inter";
          color: rgba(109, 110, 118, 1);
          width: 100%;
          outline: none;
          background-color: transparent;
        }
        & textarea {
          resize: vertical;
          min-height: 144px;
        }
        & button {
          background-color: rgba(255, 208, 80, 1);
          text-align: center;
          font: 700 24px "Sen";
          color: rgba(35, 37, 54, 1);
          padding: 24px;
          border: none;
          cursor: pointer;
          transition: background-color 0.2s ease;

          &:hover {
            background-color: #edbd3e;
          }
        }
      }
    }
  }
}
