@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap');
.mainWrapper{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(35, 37, 54, 1);
    & .wrapper{
        margin: 0 auto;
        max-width: 1440px;
        padding: 20px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .leftSide{
            font:700 36px 'Sen';
            color: rgba(255, 255, 255, 1);
        }
        & .rightSide{
            display: flex;
            gap: 24px;
            align-items: center;
            & a{
                font: 400 16px 'Inter';
                color: rgba(255, 255, 255, 1);
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
                & .subscribe{
                    padding: 16px 48px;
                    background-color: rgba(255, 255, 255, 1);
                    color: rgba(35, 37, 54, 1);
                    font:700 18px 'Sen';

                }
            }
        }
    }
}